SECRET_KEY="CHANGE-ME"

# 0 False, 1 True
DEBUG="1"

# Comma Separated values
ALLOWED_HOSTS="127.0.0.1, localhost"
CORS_ALLOWED_ORIGINS = "http://localhost:3000, http://127.0.0.1:8000"

# DATABASE
DB_ENGINE="django.db.backends.postgresql"
POSTGRES_DB="CHANGE-ME"
POSTGRES_USER="CHANGE-ME"
POSTGRES_PASSWORD="CHANGE-ME"
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"

DATABASE_URL=postgres://user:password@host:port/database

PORT=8000

# AWS
AWS_DEFAULT_REGION=sa-east-1
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_SES_REGION_NAME=sa-east-1
AWS_SES_REGION_ENDPOINT=email.sa-east-1.amazonaws.com
AWS_STORAGE_BUCKET_NAME=your_bucket_name_here

# STORAGE
FILE_UPLOAD_STORAGE=local